.App {
  text-align: center;
}

.card-container{
  display: flex;
  flex-wrap: wrap;
  gap : 1rem;
  margin: 27px;
  justify-content: center;
}
.cart-value{
  display: flex;
  justify-content: end;
  margin: 15px;
  font-size: larger;
}
.bord h1{
  border: 1px solid black;
  height: 150px;
  width: 1400px;
  color: white;
  background-color: black;
  text-align: center;
  padding: 50px;
}